WindowsFormsApplicationClient/Service References/AccountServiceReference/Valiasr.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Valiasr.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Valiasr.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
</xs:schema>