WindowsFormsApplicationClient/Service References/PersonServiceReference/Valiasr.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Valiasr.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Valiasr.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:int" />
      <xs:element minOccurs="0" name="CretyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CretySerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FatherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadMelliIdentity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeTelno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndivOrOrgan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobKind" type="xs:short" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MelliIdentity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeTelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostIdentity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sadereh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShobehCode" type="xs:int" />
      <xs:element minOccurs="0" name="WorkAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDTO" nillable="true" type="tns:PersonDTO" />
</xs:schema>