Valiasr.UI.WPF/Service References/AccountServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Valiasr.Service" />
  <xs:element name="CanBardasht">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanBardashtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanBardashtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bardasht">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BardashtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BardashtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByAccountNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByAccountNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Valiasr.Service" minOccurs="0" name="GetCustomerByAccountNoResult" nillable="true" type="q1:ArrayOfCustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>